# Eclipse
.classpath
.project
.settings/

# Intellij
.idea/
*.iml
*.iws

# Mac
.DS_Store

# Bash
*.swp

# Maven
log/
target/
.mvn
/.vs/tomcatDockerEC2/v15/.suo
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
